[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
tox = "*"
uroboros = {editable = true,path = "."}

[packages]
zipp = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 --show-source ."
test = "py.test tests"
